# Recomandation for library to install in python

setuptools
numpy 
pandas 
scipy
sklearn
future
grpcio
h5py
requests
opencv-python
python-math
random2
pytest-warnings
os.path2
pydicom
glob2
pytest-shutil
DateTime
zipfile36
urllib3
tensorflow
python-time
trimesh
librosa
gym
